templates:
  app:
    name: onlyoffice
    namespace: onlyoffice
  certificate:
    install: false
    # issuer: letsencrypt-staging
    issuer: letsencrypt-production
    dns_names:
      - onlyoffice.matthiasstein.net
  ingress:
    url: onlyoffice.matthiasstein.net
    service: onlyoffice
    port: 80

replicaCount: 1

image:
  repository: onlyoffice/documentserver
  tag: 9.2.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

persistence:
  volumes:
    logs:
      storageClass: local-path
      enabled: true
      mountPath: /var/log/onlyoffice
      persistentVolumeClaim:
      size: 100Mi

    data:
      storageClass: local-path
      enabled: true
      mountPath: /var/www/onlyoffice/Data
      hostPath: /mnt/data/onlyoffice/data
      size: 1Gi

    cache:
      storageClass: local-path
      enabled: true
      mountPath: /var/lib/onlyoffice
      hostPath: /mnt/data/onlyoffice/cache
      size: 1Gi

    database:
      storageClass: local-path
      enabled: true
      mountPath: /var/lib/postgresql
      hostPath: /mnt/data/onlyoffice/database
      size: 1Gi

license:
  secretName: onlyoffice-license
  mountPath: /var/www/onlyoffice/Data
  licenseFileName: license.lic
